p{
    margin: 0 0 0 0 ;
}
.toolKit{
    background: #dfe5ea;
    height: 100px;
    display: flex;
}
.sectionName{
    color: white;
    display: flex;
    margin: auto auto 0 auto;
    height: 40px;
    align-items: flex-end;
}
.itemsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}


.colors{
    padding: 0 10px 0 10px;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    max-width: 125px;
    border-right: 1px solid black;
}
.colorItem{
    margin: 5px 5px 5px 5px;
    height: 10px;
    width: 10px;
    background: var(--color,black);
}
.colorItem:hover{
    cursor: pointer;
}

.colorItem.red{
    --color:red
}
.colorItem.orange{
    --color: orange
}
.colorItem.yellow{
    --color:yellow
}
.colorItem.green{
    --color:green
}
.colorItem.blue{
    --color:blue
}
.colorItem.indigo{
    --color:indigo
}
.colorItem.purple{
    --color:purple
}
.colorItem.brown{
    --color:brown
}
.colorItem.black{
    --color:black
}
.colorItem.pink{
    --color:pink
}



.tools{
    padding: 5px 10px 0 10px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 125px;
    border-right: 1px solid black;
}
.toolItem{
    width: 32px;
    height: 25px;
}
.icon{
    height: 100%;
    width: 100%;
}
.st0{
    fill:#fff
}
.st1{
    fill:none;
    stroke:#231f20;
    stroke-width:50;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-miterlimit:10
}



.figures{
    padding: 5px 10px 0 10px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 125px;
    border-right: 1px solid black;
}
.figureItem{
    width: 32px;
    height: 25px;
}
.figureItem:hover{
    cursor: pointer;
}
#rectangle,#circle,#line,#star{
    transition: all .3s ease;
}
#rectangle:hover,#circle:hover,#line:hover,#star:hover{
    fill:#CCFFFF;
}



.lineWeight{
    padding: 0 10px 0 10px;
    border-right: 1px solid black;
}
.lineWeightConteiner{
    display: flex;
    justify-content: center;
}
.modalLineWeight{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: -11px;
    padding: 10px;
    height: 135px;
    position: absolute;
    z-index: 2;
    background: #f7f7f7;
    border: 1px outset#7097c1;
    border-radius: 7px;
    width: 145px;
}
.tipLine{
    vertical-align: middle;
    width: 100%;
}
.modalLine:hover,
.lineWeightConteiner:hover{
    cursor: pointer;
    background: #9fc5c5;
}


.tipArea{
    display: flex;
    width: 100%;
}
.colorItems{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 20px;
    margin-left: 10px;
}
.colorP{
    text-align: center;
    margin:0 auto auto auto;
    color: white;
}
.brushSettings{
    display: flex;
    width: 100%;
    padding-left: 10px;
}


.shrotInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.navButtons{
    margin: auto 0 auto 0
}
.navBtn{
    margin-left: 15px;
}



